

.productDetailImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 375px;

    .productDetailImage {
        margin-top: 25px;
        display: flex;
        height: auto;
        width: auto;
        max-width: 350px;
    }
}